.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px 1fr 1fr 50px;
  background-color: #2f0f10;
  color: antiquewhite;
}

.img-responsive {
  width: 300px;
}

.header {
  font-family: "Rouge Script", cursive;
  font-size: xx-large;
}
